/* Container */
.p11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* full screen height */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

/* Form */
.p12 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.p12 h2 {
    color: #0A3D62;
    text-align: center;
    margin-bottom: 20px;
}

/* Labels */
.p12 label {
    font-weight: bold;
    color: #0A3D62;
    margin-bottom: 5px;
}

/* Inputs */
.p12 input,
.p12 select {
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 2px solid #0A3D62;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Button */
.p13 {
    padding: 10px 20px;
    background-color: #0A3D62;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.p13:hover {
    background-color: #082B49;
    color:white;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .p11 {
        padding: 10px;
    }

    .p12 {
        padding: 20px;
    }

    .p12 input,
    .p12 select {
        font-size: 14px;
        padding: 6px 10px;
    }

    .p13 {
        padding: 8px 16px;
        font-size: 14px;
    }
}
